/* ---------------------------------------------------------------
CSS Reset
--------------------------------------------------------------- */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* This is a slightly adjusted version of the box-sizing reset for ensuring that components inside an explicitly declared content-box are also content-box'ed */

html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

/* -------------------------------- */

body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0;
  color: #777;
}

h1,
h2,
h3 {
  font-weight: 700;
}

.container {
  max-width: 130ch;
  margin: 0 auto;
  padding: 0 2rem;
}

button {
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
  margin-top: 1rem;
}

.btn {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0;
  border-radius: 5px;
  padding: 0.8rem 1.4rem;
  border: double 2px transparent;
  overflow: hidden;
  box-shadow: 0 10px 12px rgba(118, 85, 225, 0.3);
}

label,
input {
  display: block;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.img-responsive {
  width: 125%;
  height: 100%;
  object-fit: cover;
}

.hidden {
  display: none;
}

/* ------ */
.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.header h3 {
  font-size: 2rem;
  padding: 2rem;
}

.container {
  margin: 0 auto;
  width: 700px;
  padding: 4rem 6rem;
  text-align: center;
}

.userinput {
  display: inline-block;
  margin: 0 1rem;
}

.btn-1 {
  display: inline-block;
  outline: none;
  border: none;
  padding: 0.75rem 1.2rem;
  text-align: center;
  background: none;
  color: white;
  background-color: #c73b3b;
  box-shadow: 0px 0px 3px 0px #c73b3b;
  border-radius: 5px;
}
